@font-face {
    font-family: Star Jedi;
    src: url(Starjedi.ttf);
}

body {
    font-family: "Poppins", serif;
    font-weight: 00;
    font-style: normal;
    color: #FFE81F;
    background-color: #000000;
}

.arrow-head-0 {
    marker-end: url(#arrow-head-0);
}

.arrow-head-1 {
    marker-end: url(#arrow-head-1);
}

.visualization-container {
	align-items: center;
    overflow-y: hidden;
    overflow-x: scroll;
}

.visualization {
    margin: auto;
    display: block;
}

.column {
    width: 60%;
    margin: auto;
    display: block;
    padding: 1%;
}

p {
    width: 80%;
    margin: auto;
    padding-top: 1%;
    padding-bottom: 1%;
}

.caption {
    width: 50%;
}

img {
    width: 50%;
    margin-left: 25%;;
}

#tooltip {
    position: absolute;
    background: #fff;
    border: 1px solid #ddd;
    padding: 8px;
    color: #111111;
    font-size: small;
    display: none;
}

@media screen and (max-width: 1680px) {
    .column {
        width: 70%;
    }
}

@media screen and (orientation: portrait) and (max-width: 1280px) {
    .column {
        width: 90%;
    }

    p {
        width: 100%;
    }

    img {
        width: 80%;
        margin-left: 10%;;
    }

    .caption {
        width: 75%;
    }
}

@media screen and (orientation: portrait) and (max-width: 736px) {
    .column {
        width: 95%;
    }

    img {
        width: 95%;
        margin-left: 2.5%;;
    }

    .caption {
        width: 95%;
    }
}